################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IsekaiPlatformerGD4/.vs/ISEKAIPLATFORMERGD4/FileContentIndex/9e4e8eeb-f470-420f-b592-3485718cb47b.vsidx
/IsekaiPlatformerGD4/.vs/ISEKAIPLATFORMERGD4/FileContentIndex/df8d0a61-f3ab-437a-9450-528617807d0e.vsidx
/IsekaiPlatformerGD4/.vs/ISEKAIPLATFORMERGD4/FileContentIndex/071b3d53-fe95-4d9e-bbc2-498ea679863a.vsidx
/IsekaiPlatformerGD4/.vs/ISEKAIPLATFORMERGD4/FileContentIndex/58980e40-129e-4a03-8cee-030ed2ec3ae8.vsidx
/IsekaiPlatformerGD4/.vs/ISEKAIPLATFORMERGD4/FileContentIndex/d63ae820-0323-489b-8746-19c1f73233e6.vsidx
/IsekaiPlatformerGD4/.vs/ISEKAIPLATFORMERGD4/v17/.suo
IsekaiPlatformerGD4/.vs/ISEKAIPLATFORMERGD4/DesignTimeBuild/.dtbcache.v2
IsekaiPlatformerGD4/.vs/ISEKAIPLATFORMERGD4/v17/.futdcache.v1

/IsekaiPlatformerGD4/.vs/ISEKAIPLATFORMERGD4/v17/.futdcache.v2
